/* .container-previous {
    overflow-x: auto;
  }


.table-previous {
    width: 100%;
  } */


.dropdown-previous{
  cursor: pointer !important;
}

.dropdown-previous:hover{
background-color: bisque !important;
}

.PreviousCount-header{
  /* height: 20px; */
  /* max-height: 35px; */
  width: 100%;
}