.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

.fa-flag{
    color: red;
}

/* .fa-flag:hover{
    color: green;
} */


/* .choices {
    background-color: #F0F3F4;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    font-family: century gothic;
    font-weight: bold;
    margin: 6px 4px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid #5D6D7E;
  }

  .choices:hover {
    background: #D0D3D4;
  } */
/* 
  input:checked+label>choices {
    color: green;
  }

  input{
    display: none
  }
  input:checked+label>.choices {
    color: green !important;
  } */